html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100%;
  overflow: auto;
}

.panorama {
  opacity: 0;
  transition: opacity 500ms ease-in;
  max-width: 50vw;
  max-height: 50vh;
}

.panorama--active {
  opacity: 1;
}
